# Paperless
PAPERLESS_API_TOKEN=$token
PAPERLESS_API_PATH="/api/documents/post_document/"
PAPERLESS_API_URL="http://url.to:port"

# SMTP settings
SMTP_PORT=465
SMTP_SRV=smtp.server.com
SMTP_USR=user@server.com
SMTP_PWD=password_for_smtp_user

# Bookkeeping application email
BOOKKEEPING_EMAIL=email_recipient

# Bookkeeper email
BOOKKEEPER_EMAIL=email_recipient

# Mail address in case of errors
ERROR_EMAIL=email_recipient

# Which folder path to monitor
PROCESS_FOLDER=./process_folder