PAPERLESS_API_TOKEN=$token
PAPERLESS_API_PATH="/api/documents/post_document/"
PAPERLESS_API_URL="http://url.to:port"

SMTP_PORT=465
SMTP_SRV="smtp.server.com"
SMTP_USR="user@server.com"
SMTP_PWD="password_for_smtp_user"
SMTP_TO="email recipient"

PROCESS_FOLDER=./process_folder